body{
    background-color: #f458b2;
    height: 100%;
    width: 100%;
    font-family:'Open Sans', sans-serif;
    height: 30vh;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    background-color: #fffef6;
    background-size: cover;
    overflow: hidden;
    margin-left: 7vh;
    margin-right: 7vh;
    margin-top: 6vh;
    margin-bottom: 6vh;   
}

#firstBlock{
    margin-left: 2rem;
    margin-right: 2rem;
}

#email{
    border-style: dotted;
    border-color: #A9A9A9;
    width: 15rem;
    height: 2rem;
    text-align-last: left;
    background: url(./images/arrow.PNG);
    background-repeat: no-repeat;
    padding-left: 1rem;
    background-position: right;
    align-self: center;
}

#button{
    color: #fffef6;
    background-color: #f458b2;
    border-radius: 1rem;
    width: 7rem;
    height: 1.8rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-weight: bolder;
    cursor: pointer;
    border-style: unset;
    align-self: center;
}

#paragraph{
    font-size: 2vw;
    background-color: #fffef6;
}

#head{
    font-size: 5vw;
    font-weight: bolder;
}

#smallBlock{
    display: flex;
    flex-direction: column;
}

#icon{
    margin-top: 2rem;
    block-size: 10vh;
    margin-left: -0.5rem;
    max-width: 100%;
}

#pic{
    block-size: 35vh;
    max-width: 100%;
    margin-top: 2rem;
}

@media (min-width:600px){
    #container{
        flex-direction: row-reverse;
        margin-left: 14vh;
        margin-right: 14vh;
        margin-top: 15vh;
        margin-bottom: 15vh;
        height: 70vh;
    }
    #paragraph{
        font-size: 0.78rem;
    }
    
    #head{
        font-size: 2rem;
    }

    #pic{
        margin-left: 4rem;
        margin-right: 0.5rem;
        block-size: 40vh;
        max-width: 100%;
    }

    #firstBlock{
        margin-left: 5rem;
    }

    #button{
        align-self: unset;
    }

    #email{
        align-self: unset;
    }
}